<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/C3DGridService/src/gov/nih/nci/cdmsconnector/c3d/client/C3DGridServiceClient.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="gov.nih.nci.cdmsconnector.c3d.client.C3DGridServiceClient"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-url ${string_prompt:the service url}"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="C3DGridService"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="https://nt-cbioc3prjb-1.nci.nih.gov:58445/C3DGrid/services/cagrid/C3DGridService"/>
</launchConfiguration>
