<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>file:${CATALINA_HOME}/conf/c3d/c3dgridservice.properties</value>
		</property>
		<property name="placeholderPrefix" value="#{"/>
		<property name="placeholderSuffix" value="}"/>
	</bean>
	<!--<import resource="classpath:c3d/c3dgridservice.properties"/>-->
	<bean id="c3DGridService"
		class="gov.nih.nci.cdmsconnector.c3d.service.C3DGridServiceImpl">
		<property name="getStudyCDEsManager" ref="getStudyCDEsManager" />
		<property name="getStudyCDEDataManager" ref="getStudyCDEDataManager" />
		<property name="getStudyCRFsManager" ref="getStudyCRFsManager" />
		<property name="getStudyCRFDataManager" ref="getStudyCRFDataManager" />
		<property name="isValidStudyManager" ref="isValidStudyManager" />
	</bean>
	<!-- GetStudyCRFs Section Starts -->
	<bean id="getStudyCRFsManager"
		class="gov.nih.nci.cdmsconnector.manager.GetStudyCRFsManagerImpl">
		<property name="dao" ref="getStudyCRFsDAO" />
		<property name="validator" ref="getStudyCRFValidator" />
		<property name="securityManager" ref="securityManager" />
	</bean>
	<bean id="getStudyCRFsDAO"
		class="gov.nih.nci.cdmsconnector.dao.c3d.GetStudyCRFDataOracleDAOImpl" />
	<bean id="getStudyCRFValidator"
		class="gov.nih.nci.cdmsconnector.domain.validator.GetStudyCRFRequestsValidatorImpl">
		<property name="isValidStudyDAO" ref="isValidStudyDAO" />
	</bean>
	<bean id="getStudyCRFDataManager"
		class="gov.nih.nci.cdmsconnector.manager.GetStudyCRFDataManagerImpl">
		<property name="dao" ref="getStudyCRFsDAO" />
		<property name="validator" ref="getStudyCRFValidator" />
		<property name="securityManager" ref="securityManager" />
	</bean>
	<!-- GetStudyCRFs Section Ends -->
	<!-- GetStudyCDEs Section Starts -->
	<bean id="getStudyCDEsManager"
		class="gov.nih.nci.cdmsconnector.manager.GetStudyCDEsManagerImpl">
		<property name="dao" ref="getStudyCDEsDAO" />
		<property name="modelAdapter" ref="getStudyCDEsAdapter" />
		<property name="validator" ref="getStudyCDEDataValidator" />
		<property name="securityManager" ref="securityManager" />
	</bean>
	<bean id="getStudyCDEsDAO"
		class="gov.nih.nci.cdmsconnector.dao.c3d.GetStudyCDEDataOracleDAOImpl" />
	<bean id="getStudyCDEsAdapter"
		class="gov.nih.nci.cdmsconnector.domain.adapter.bridg111.GetStudyCDEsAdapterImpl" />
	<bean id="getStudyCDEDataValidator"
		class="gov.nih.nci.cdmsconnector.domain.validator.GetStudyCDEDataRequestValidatorImpl">
		<property name="isValidStudyDAO" ref="isValidStudyDAO" />
	</bean>
	<bean id="getStudyCDEDataManager"
		class="gov.nih.nci.cdmsconnector.manager.GetStudyCDEDataManagerImpl">
		<property name="dao" ref="getStudyCDEsDAO" />
		<property name="modelAdapter" ref="getStudyCDEDataAdapter" />
		<property name="validator" ref="getStudyCDEDataValidator" />
		<property name="securityManager" ref="securityManager" />
	</bean>
	<bean id="getStudyCDEDataAdapter"
		class="gov.nih.nci.cdmsconnector.domain.adapter.bridg111.GetStudyCDEDataAdapterImpl" />
	<!-- GetStudyCDEs Section Ends -->
	<!-- IsValidStudy Section Starts -->
	<bean id="isValidStudyManager"
		class="gov.nih.nci.cdmsconnector.manager.IsValidStudyManagerImpl">
		<property name="dao" ref="isValidStudyDAO" />
		<property name="securityManager" ref="securityManager" />
	</bean>
	
	<!-- IsValidStudy Section Ends -->
	
	<bean id="securityManager" class="gov.nih.nci.cdmsconnector.c3d.security.CSMCDMSConnectorSecurityManagerImpl">
		<property name="csmAccessPermissions">
			<map>
				<entry key="ENROLLPATIENT_SERVICE" value="#{enrollPatientService.useCSM}"/>
				<entry key="LOADLABS_SERVICE" value="#{loadLabsService.useCSM}"/>
				<entry key="GETSTUDYCDES_SERVICE" value="#{getStudyCDESService.useCSM}"/>
				<entry key="GETSTUDYCDEDATA_SERVICE" value="#{getStudyCDEDataService.useCSM}"/>
				<entry key="ISVALIDSTUDY_SERVICE" value="#{isValidStudyService.useCSM}"/>
			</map>
		</property>
	</bean>
	
	<bean id="hotLink" class="gov.nih.nci.cdmsconnector.c3d.actions.HotLink" singleton="false">
		<property name="hotLinkManager" ref="hotLinkManager" />
	</bean>
	
	<bean id="capture" class="gov.nih.nci.cdmsconnector.c3d.actions.C3DCapture" singleton="false">
		<property name="captureManager" ref="captureManager" />
	</bean>
	
	<bean id="hotLinkDAO" class="gov.nih.nci.cdmsconnector.dao.c3d.C3DHotLinkDAOImpl"/>
	<bean id="hotLinkManager"
		class="gov.nih.nci.cdmsconnector.c3d.hotLink.C3DHotLinkManagerImpl">
		<property name="dao" ref="hotLinkDAO" />
		<property name="securityManager" ref="securityManager" />
	</bean>

	<bean id="captureManager"
		class="gov.nih.nci.cdmsconnector.c3d.capture.C3DCaptureManagerImpl">
		<property name="dao" ref="captureDAO" />
	</bean>
	<bean id="captureDAO" class="gov.nih.nci.cdmsconnector.dao.c3d.C3DCaptureDAOImpl"/>
        <bean id="isValidStudyDAO"
		class="gov.nih.nci.cdmsconnector.dao.c3d.IsValidStudyOracleDAOImpl" />
</beans>