<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>file:${CATALINA_HOME}/conf/c3d/c3dgridservice.properties</value>
		</property>
		<property name="placeholderPrefix" value="#{"/>
		<property name="placeholderSuffix" value="}"/>
	</bean>
	<bean id="clinicalConnectorService"
		class="gov.nih.nci.clinicalconnector.service.ClinicalConnectorImpl">
		<property name="enrollPatientManager" ref="enrollPatientManager" />
		<property name="loadLabsManager" ref="loadLabsManager" />
	</bean>
      <!-- EnrollPatient Section Starts -->
	<bean id="enrollPatientManager"
		class="gov.nih.nci.clinicalconnector.manager.EnrollPatientManagerImpl">
		<property name="enrollmentDAO" ref="enrollmentDAO" />
		<property name="modelAdapter" ref="enrollPatientAdapter" />
		<!--<property name="cctsModelAdapter" ref="cctsModelAdapter" />-->
		<property name="bridg21ModelAdapter" ref="bridg21ModelAdapter" />
		<property name="securityManager" ref="securityManager" />
		<property name="saveBirthDate" value="#{enrollPatientManager.saveBirthDate.value}" />
		<property name="saveGender" value="#{enrollPatientManager.saveGender.value}" />
		<property name="saveName" value="#{enrollPatientManager.saveName.value}"/>
		<property name="saveInitials" value="#{enrollPatientManager.saveInitials.value}" />
		<property name="saveEnrollmentDate" value="#{enrollPatientManager.saveEnrollmentDate.value}" />
		<property name="validator" ref="enrollPatientValidator" />
	</bean>
      <bean id="enrollmentDAO"
		class="gov.nih.nci.clinicalconnector.dao.c3d.EnrollmentOracleDAOImpl" />
	<bean id="enrollPatientAdapter"
		class="gov.nih.nci.clinicalconnector.domain.adapter.bridg111.EnrollPatientAdapterImpl" />
	<bean id="enrollPatientValidator"
		class="gov.nih.nci.clinicalconnector.domain.validator.EnrollPatientRequestValidatorImpl">
		<property name="isValidStudyDAO" ref="isValidStudyDAO" />
	</bean>
	<!-- EnrollPatient Section Ends -->
	<!-- LoadLabs Section Starts -->
	<bean id="loadLabsManager" class="gov.nih.nci.clinicalconnector.manager.LoadLabsManagerImpl">
		<property name="loadLabsDAO" ref="loadLabsDAO" />
		<property name="modelAdapter" ref="loadLabsAdapter" />
		<property name="bridg21ModelAdapter" ref="bridg21ModelAdapter" />
		<property name="validator" ref="loadLabsValidator" />
		<property name="securityManager" ref="securityManager" />
		<!--<property name="cctsModelAdapter" ref="cctsModelAdapter" />-->
	</bean>
	<bean id="loadLabsDAO" class="gov.nih.nci.clinicalconnector.dao.c3d.LoadLabsOracleDAOImpl" />
	<bean id="loadLabsAdapter"
		class="gov.nih.nci.clinicalconnector.domain.adapter.bridg111.LoadLabsAdapterImpl" />
	<bean id="loadLabsValidator"
		class="gov.nih.nci.clinicalconnector.domain.validator.LoadLabsRequestValidatorImpl">
		<property name="isValidStudyDAO" ref="isValidStudyDAO" />
	</bean>
	<bean id="isValidStudyDAO" class="gov.nih.nci.clinicalconnector.dao.c3d.IsValidStudyOracleDAOImpl" />
	<!-- LoadLabs Section Ends -->

	<bean id="securityManager" class="gov.nih.nci.clinicalconnector.c3d.security.CSMCDMSConnectorSecurityManagerImpl">
		<property name="csmAccessPermissions">
			<map>
				<entry key="ENROLLPATIENT_SERVICE" value="#{enrollPatientService.useCSM}"/>
				<entry key="LOADLABS_SERVICE" value="#{loadLabsService.useCSM}"/>
				<entry key="GETSTUDYCDES_SERVICE" value="#{getStudyCDESService.useCSM}"/>
				<entry key="GETSTUDYCDEDATA_SERVICE" value="#{getStudyCDEDataService.useCSM}"/>
				<entry key="ISVALIDSTUDY_SERVICE" value="#{isValidStudyService.useCSM}"/>
			</map>
		</property>
	</bean>
	<bean id="cctsModelAdapter"	  class="gov.nih.nci.clinicalconnector.domain.adapter.ccts.CCTSAdapter" />
	<bean id="bridg21ModelAdapter"  class="gov.nih.nci.clinicalconnector.domain.adapter.bridg21.BRIDG21Adapter" />
	<alias name="clinicalconnector" alias="registrationConsumer"/>
	<alias name="clinicalconnector" alias="loadLabsService"/> 
	<bean id="hotLink" class="gov.nih.nci.cdmsconnector.c3d.actions.HotLink" singleton="false">
		<property name="hotLinkManager" ref="hotLinkManager" />
	</bean>
	<bean id="capture" class="gov.nih.nci.cdmsconnector.c3d.actions.C3DCapture" singleton="false">
		<property name="captureManager" ref="captureManager" />
	</bean>
      <!-- Additional Beans for JSPs -->
	<bean id="hotLinkDAO" class="gov.nih.nci.clinicalconnector.dao.c3d.C3DHotLinkDAOImpl"/>
	<bean id="hotLinkManager"
		class="gov.nih.nci.cdmsconnector.c3d.hotLink.C3DHotLinkManagerImpl">
		<!--<property name="dao" ref="hotLinkDAO" />-->
		<!-- <property name="securityManager" ref="securityManager" /> -->
	</bean>
	<bean id="captureManager"
		class="gov.nih.nci.cdmsconnector.c3d.capture.C3DCaptureManagerImpl">
		<property name="dao" ref="captureDAO" />
	</bean>
	<bean id="captureDAO" class="gov.nih.nci.clinicalconnector.dao.c3d.C3DCaptureDAOImpl"/>
</beans>
